[Unit]
Description=lightweight device mounter

[Service]
Environment=FMASK_DMASK=0133,0022
EnvironmentFile=/etc/ldm.conf
ExecStart=/usr/bin/ldm -u ${MOUNT_OWNER} -p ${BASE_MOUNTPOINT} -m ${FMASK_DMASK}
KillMode=process

[Install]
WantedBy=multi-user.target
