[Unit]
Description=lightweight device mounter

[Service]
EnvironmentFile=/etc/ldm.conf
ExecStart=/usr/local/bin/ldm -u ${USER_UID} -g ${USER_GID} -p ${BASE_MOUNTPOINT}
KillMode=process

[Install]
WantedBy=multi-user.target
